

.comment-section {
    width: 100%;
    height: 100%;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    padding: 1rem;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
 
    background: linear-gradient(180deg, #D1AFDD 0%, #A67BB7 100%);

    .-btn {
        position: fixed;
        top: 90%;
    }

}

.comment-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    
    max-width: 1024px;
    gap: 2.5rem;
    padding: 20px 10px;

    @media (min-width: $breakpoint-md) {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }

    @media (min-width: $breakpoint-xxl) {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }
}

.comment {
    width: 150px;
    height: 85px;
    padding: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;

    border-radius: 28px;
    background: #FFF;
    box-shadow: 0px 3.689px 0px 0px #A297C0;


    @media (min-width: $breakpoint-md) {
        padding: 20px;
        width: 200px;
        height: 100px;
    }

    @media (min-width: $breakpoint-xl) {
        width: 250px;
        height: 150px;
    }


    @media (min-width: $breakpoint-xxl) {
        width: 320px;
        height: 187px;
        border-radius: 60px;
        padding: 30px;
    } 

    .-tag {
        position: absolute;
        top: 0px;
        left: 16px;

        span {
            border-radius: 9px;
            padding: 2px 4px;

            color: white;
            font-weight: 700;
            font-family: "Inter";
            font-size: clamp(5px, 10px, 15px);
        }

        & .-IT {
            background-color: #FC6C8D;
        }

        & .-CS {
            background-color: #A297C0;
        }

        & .-DSI {
            background-color: #8DB0C4;
        }
    }
      

    .-message {
        margin-top: 11px;
        text-align: start;
        color: #000;

        font-family: Inter;
        font-size: 10px;
        font-weight: 400;

        @media (min-width: $breakpoint-md) {
            font-size: 12px;
        }

        @media (min-width: $breakpoint-xl) {
            font-size: 16px;
        }

        @media (min-width: $breakpoint-xxl) {
            font-size: 20px;
        }
    }
    
    .-author {
        width: 100%;
        color: #000;

        text-align: right;
        font-family: Inter;
        font-size: 8px;
        font-weight: 700;

        @media (min-width: $breakpoint-md) {
            font-size: 10px;
        }

        @media (min-width: $breakpoint-xl) {
            font-size: 13px;
        }

        @media (min-width: $breakpoint-xxl) {
            font-size: 16px;
        }
    }

    .-tray {
        position: absolute;
        bottom: -1.5rem;
        left: -1rem;

        width: 37px;
        height: 63px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: rotate(-25deg);
        }

        @media (min-width: $breakpoint-md) {
            width: 50px;
            height: 85px;
        }

        @media (min-width: $breakpoint-xxl) {
            width: 80px;
            height: 136px;
        }
    }
}
.comment-view {
    background: white;
    width: 90%;
    height: auto;
    padding: 40px;
    box-sizing: border-box;
    flex-shrink: 0;
    border-radius: 45px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    .-flower {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;
  
      img {
        object-fit: cover;
        border-radius: 10px;
        max-width: 100%;
        height: auto;
      }
    }
  
    .-name {
      color: #000;
      text-align: center;
      font-family: PT Sans, "PT Sans";
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  
    .-message {
      margin: 16px;
      white-space: pre-wrap;
      word-wrap: break-word;
      text-align: start;
    }
  
    @media (min-width: $breakpoint-md) {
      width: 500px;
      .img{
          max-width: 100%;
      }
      .-name{
          font-size: 24px;
      }
      .-message{
          font-size: 16px;
      }
    }
  
    @media (min-width: $breakpoint-xl) {
      width: 720px;
      .img{
          max-width: 100%;
      }
      .-name{
          font-size: 28px;
      }
      .-message{
          font-size: 24px;
      }
    }
  
    @media (min-width: $breakpoint-xxl) {
      width: 800px;
      .img{
          max-width: 100%;
      }
      .-name{
          font-size: 32px;
      }
      .-message{
          font-size: 28px;
      }
    }
  }