.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    z-index: 900;

    @media (min-width: $breakpoint-md) {
        height: 100vh;
    }

    @media (min-width: $breakpoint-lg) {
        height: 109vh;
    }
}